services:
  nginx:
    image: skpr/nginx-drupal:dev-v2-latest
    ports:
      - "${WEB_PORT:-8080}:8080"
      - "${MYSQL_PORT:-3306}:3306"
      - "${SELENIUM_PORT:-4444}:4444"
      - "${VNC_PORT:-5900}:5900"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/data
      - ./.docker/nginx/drupal.conf:/etc/nginx/conf.d/location/00-drupal.conf

  php-fpm:
    build:
      args:
        BASE_IMAGE: skpr/php-fpm:${PHP_VERSION:-8.3}-dev-v2-latest
        USERNAME: ${USERNAME:-skpr}
        UID: ${UID:-1000}
        GID: ${GID:-1000}
      context: ./.docker/php
    network_mode: service:nginx
    volumes:
      - ./:/data
    environment:
      - PHP_IDE_CONFIG=serverName=localhost

  php-cli:
    build:
      args:
        BASE_IMAGE: skpr/php-cli:${PHP_VERSION:-8.3}-dev-v2-latest
        USERNAME: ${USERNAME:-skpr}
        UID: ${UID:-1000}
        GID: ${GID:-1000}
      context: ./.docker/php
    command: /bin/bash -c "sleep infinity"
    network_mode: service:nginx
    environment:
      - DRUSH_OPTIONS_URI=${BASE_URI:-http://127.0.0.1:8080}
      - BROWSERTEST_OUTPUT_BASE_URL=${BASE_URI:-http://127.0.0.1:8080}
      - MINK_DRIVER_ARGS_WEBDRIVER
      - PHP_IDE_CONFIG=serverName=localhost
    volumes:
      - ./:/data

  mysql:
    image: mysql:latest
    network_mode: service:nginx
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_USER: local
      MYSQL_PASSWORD: local
      MYSQL_DATABASE: local
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysql", "-e", "USE local;" ]
      interval: 1s
      retries: 30

  selenium:
    image: ${SELENIUM_IMAGE:-selenium/standalone-chrome:111.0}
    network_mode: service:nginx

volumes:
  mysql-data:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
