<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="app/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         cacheResult="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://127.0.0.1:8080"/>
    <env name="SIMPLETEST_DB" value="mysql://local:local@127.0.0.1/local"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp"/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value="http://127.0.0.1:8080"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <env name="MINK_DRIVER_CLASS" value=""/>
    <env name="MINK_DRIVER_ARGS" value=""/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","goog:chromeOptions":{"args":["--disable-gpu","--headless", "--no-sandbox", "--disable-dev-shm-usage"], "w3c": false}}, "http://127.0.0.1:9515"]'/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <file>./app/core/tests/TestSuites/UnitTestSuite.php</file>
    </testsuite>
    <testsuite name="kernel">
      <file>./app/core/tests/TestSuites/KernelTestSuite.php</file>
    </testsuite>
    <testsuite name="functional">
      <file>./app/core/tests/TestSuites/FunctionalTestSuite.php</file>
    </testsuite>
    <testsuite name="functional-javascript">
      <file>./app/core/tests/TestSuites/FunctionalJavascriptTestSuite.php</file>
    </testsuite>
    <testsuite name="build">
      <file>./app/core/tests/TestSuites/BuildTestSuite.php</file>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
  </listeners>
  <!-- Filter for coverage reports. -->
  <coverage>
    <include>
      <directory>./app/core/includes</directory>
      <directory>./app/core/lib</directory>
      <directory>./app/core/modules</directory>
      <directory>./app/modules</directory>
      <directory>./app/core/sites</directory>
    </include>
    <exclude>
      <directory>./app/core/modules/*/src/Tests</directory>
      <directory>./app/core/modules/*/tests</directory>
      <directory>./app/core/modules/*/src/Tests</directory>
      <directory>./app/core/modules/*/tests</directory>
      <directory>./app/core/modules/*/*/src/Tests</directory>
      <directory>./app/core/modules/*/*/tests</directory>
    </exclude>
  </coverage>
</phpunit>
