name: tests
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'

defaults:
  run:
    shell: bash

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        drupal_version: ['10.1', '10.2', '10.3', '11.x']

    steps:
      - name: Create project
        run: |
          composer create-project --ignore-platform-reqs mstrelan/drupal-contrib:dev-${{ github.ref_name }}

      - name: Initialise environment
        run: |
          cd drupal-contrib
          make ${{ matrix.drupal_version }}

      - name: Setup homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup bats
        run: |
          brew tap kaos/shell
          brew install bats-support bats-assert bats-file

      - name: Run tests
        env:
          DRUPAL_VERSION: ${{ matrix.drupal_version == '11.x' && '11.0-dev' || matrix.drupal_version }}
        run: |
          cd drupal-contrib
          bats tests
